/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
li a {
	text-decoration: none;
	color: black;
}
li a:hover {
	color: #B1663C;
}
.pageMenu {
	font-weight: bold;
}
	
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-right: 1em;
	/*margin-bottom: 1em;*/
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	height: 50px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filtres button {
	font-family: 'Syne';
	font-size: 16px;
	color: #1D6154;
	background-color: white;
	border-radius: 60px;
	margin: 4px;
	border: 1px solid #1D6154;
	height: 37px;
	min-width: 100px;
	padding: 8px;
}

.filtres {
	text-align: center;
	margin: 50px;
}

.filtres button:hover {
	color: white;
	background-color: #1D6154;
}

#contact a {
	color: black;
}

.btnConnecter:hover {
	background-color: #0E2F28;
}

.btnConnecter{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	height: 50px;
	font-size: 1.2em;
	border: 1px solid #1D6154;
}

.redaction{
	width: 100%;
	background-color: black;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	padding: 21.5px;
}

.redactionOut{
	display: none;
}

.iconeBtnModal a{
	text-decoration: none;
	color: black;
	margin-left: 0.5em;
}

.portfolioTitre{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*la fenêtre modal "Galerie photo"*/
h3{
	font-size: 26px;
	margin: 20px;
	
}

.modal{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}

.modalMedias{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	overflow: auto;
	width: 630px;
	height: 688px;
	border-radius: 10px;
	background-color: #FFFFFF;
	padding: 25px;
}

.galleryModal{
	display: flex;
	width: 430px;
	height: 430px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-evenly;
	border-bottom: 1px solid #b3b3b3;
	padding-bottom: 50px;
}

.galleryModal div{
	width: 76.86px;
	height: 102.57px;
}

.galleryModal img{
	width: 100%;
	height: 100%;
}

/*.modalMedias a{
	display: inline-block;
	text-decoration: none;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 237px;
	text-align: center;
	border-radius: 60px ;
	font-size: 14px;
	border: 1px solid #1D6154;
	margin: 30px 0px 20px 0px;
	padding: 10px;
	box-sizing: border-box;
	
}
*/

.btnAjoutPhoto{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 237px;
	text-align: center;
	border-radius: 60px ;
	height: 36px;
	font-size: 14px;
	border: 1px solid #1D6154;
	margin-bottom: 15px;
}

.btnfermerModal, .btnRetournModal{
	align-self: flex-end;
	border: none;
	background-color: #FFFFFF;
	font-size: 20px;
}

.galleryModal button{
	position: relative;
	top: -97%;
	left: 70%;
	height: 17px;
	width: 17px;
	padding: 0px;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #000000;
}

/*la fenêtre modal "Ajout photo*/

.modalAjout{
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/*overflow: auto;*/
	width: 630px;
	height: 670px;
	border-radius: 10px;
	background-color: #FFFFFF;
	padding: 25px;
}
.bntsModalAjout{
	width: 100%;
	display: flex;
	justify-content: space-between;
	
}



.chargementPhoto{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background-color: #E8F1F6;
	box-sizing: border-box;
	padding: 10px;
}

.chargementPhoto i{
	font-size: 76px;
	color: #B9C5CC;
}

.chargementPhoto p{
	font-size: 10px;
	color: #444444;
}

.btnChargementPhoto{
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background-color: #CBD6DC;
	border: none;
	color: #306685;
	font-size: 14px;
}

.formAjoutPhoto{
	border-bottom: 1px solid #b3b3b3;
	padding-bottom: 20px;

}

#titre, #categorie{
	width: 420px;
	height: 50px;
	padding: 0px;
	border: none;
	font-family: 'Work Sans';
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 10px 0px 30px 0px;
}

.modalAjout input[type="submit"] {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background-color: #a7a7a7;
	margin: 40px 91.5px;
	border: none;
	
}


